<strong>Olá, {{ camper }}</strong>
<p>Sua matricula foi efetuada com sucesso!, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Atividades diárias: </strong> até {{ max_activities }} atividades <br />
  <strong>Matriculado em: </strong> {{ date }} <br />
  <br />
  <small>
    Acesse o aplicativo com seu e-mail para se inscrever nas atividades desejadas.
  </small>
</p>
